
<%= form_for(@user) do |f| %>

    <label class="">name</label>
    <%= f.text_field :name %>

    <label class="">ProfileImage</label>
    <%= f.attachment_field :profile_image %>

    <label class="">introduction</label>
    <%= f.text_area :introduction %>
    <%= f.submit %>
<% end %>