
<%= form_for(@user) do |f| %>
<h1>User info</h1>
<div class="field">
    <label class="">name</label>
    <%= f.text_field :name %><br>
</div>
<div class="field">
    <label class="">Image</label>
    <%= f.attachment_field :profile_image %>
</div>
<div class="field">
    <label class="">introduction</label>
    <%= f.text_area :introduction %>
</div>
<div class="action">
    <%= f.submit %>
</div>
<% end %>